@using CulturallyHistoricalObjectsWebApp.Models
@model LoginViewModel

@{
    Layout = "";
}

<head>
    <title>Login</title>

    <style>
        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background: url("../../Content/style/bg.jpg") center/cover fixed no-repeat;
            color: #ecf0f1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

            body::before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient( 0deg, rgba(0, 0, 36, 0.6) 0%, rgba(0, 0, 0, 0.8) 100% );
                z-index: -1;
            }

        .form-style {
            width: 500px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        .label-style {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .input-style {
            width: calc(100% - 20px);
            padding: 15px;
            margin-bottom: 20px;
            border: 2px solid #2c3e50;
            border-radius: 8px;
            box-sizing: border-box;
            background-color: #2c3e50;
            color: #ecf0f1;
            font-size: 16px;
        }

            .input-style:focus {
                outline: none;
                border: 2px solid #f1c40f;
            }

        button {
            background-color: #f1c40f;
            color: #2c3e50;
            padding: 25px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin: 10px;
            font-size: 18px;
            width: 45%;
        }

        .register-button {
            background-color: #f1c40f;
            color: #2c3e50;
            padding: 25px 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin: 10px;
            font-size: 18px;
            width: 45%;
        }

            button:hover {
                background-color: #f39c12;
            }

        /* Responsive Styles */
        @@media only screen and (max-width: 600px) {
            .form-style {
                width: 80%;
            }

            .input-style {
                width: 100%;
            }

            button {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }

            .register-button {
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    </style>
</head>

<body>
    <div class="row">
        <div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-style" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.Email, new { @class = "label-style" })
                @Html.TextBoxFor(m => m.Email, new { @class = "input-style" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.Password, new { @class = "label-style" })
                @Html.PasswordFor(m => m.Password, new { @class = "input-style" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <button type="submit">Log in</button>
                <button type="button" id="registerButton">Register</button>
            }
        </div>
    </div>

</body>

<script>
    // JavaScript to handle registration button click
    document.getElementById('registerButton').addEventListener('click', function() {
        window.location.href = '@Url.Action("Register", "Account")';
    });
</script>
