@model IEnumerable<CulturallyHistoricalObjectsWebApp.Models.HistoricalCulturalObjects>
@{
    ViewBag.Title = "Favorite places";
}

<head>
    <link rel="stylesheet" href="../../Content/style/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/favoriteAjax.js"></script>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Type</th>
                <th>Region</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(obj.name, "Details", new { id = obj.id }, new { @class = "details_style" })
                    </td>
                    <td>@obj.lon</td>
                    <td>@obj.lat</td>
                    <td>@(obj.type != null ? obj.type.type : "")</td>
                    <td>@(obj.region != null ? obj.region.name : "")</td>
                    <td class="button-column">
                        <div class="buttons-row">
                            @using (Html.BeginForm("RemoveFromFavorites", "Account", FormMethod.Post, new { @class = "favorite-form" }))
                            {
                                @Html.Hidden("id", obj.id) <!-- Use "id" as the parameter name -->
                                <button type="submit" class="red-button favorite-button">Remove</button>
                            }
                            @if (User.IsInRole("Administrator"))
                            {
                                using (Html.BeginForm("Edit", "HistoricalCulturalObjects", new { id = obj.id }, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    <button type="submit" class="yellow-button">Edit</button>
                                }

                                using (Html.BeginForm("Delete", "HistoricalCulturalObjects", new { id = obj.id }, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    <button type="submit" class="red-button">Delete</button>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
