@model CulturallyHistoricalObjectsWebApp.Models.ClosestFavoriteDTO

@{
    ViewBag.Title = "Find Closest";
}
<head>
    <link rel="stylesheet" href="../../Content/style/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/Custom Scripts/DataTablesAndDelete.js"></script>
    <script>findClosestAjax();</script>
</head>
<body>
    <table id="places_table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Region</th>
                <th>Distance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (Model != null)
                 {
                    <td>@Model.historicalCulturalObject.type.type</td>
                    <td>
                        @Html.ActionLink(Model.historicalCulturalObject.name, "Details", new { id = Model.historicalCulturalObject.id }, new { @class = "details_style" })
                    </td>
                    <td>@Model.historicalCulturalObject.region.name</td>
                    <td>@Model.distance km</td>
                    <td class="button-column">
                        <div class="buttons-row">
                            @{
                                bool isInFavorite = Model.favoritePlacesIds.Contains(Model.historicalCulturalObject.id);
                            }
                            @if (!isInFavorite)
                            {
                                using (Html.BeginForm("AddToFavorite", "Account", FormMethod.Post, new { @class = "favorite-form" }))
                                {
                                    @Html.Hidden("id", Model.historicalCulturalObject.id) <!-- Use "id" as the parameter name -->
                                    <button type="submit" class="yellow-button favorite-button">Favorite</button>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("RemoveFromFavorites", "Account", FormMethod.Post, new { @class = "favorite-form" }))
                                {
                                    @Html.Hidden("id", Model.historicalCulturalObject.id) <!-- Use "id" as the parameter name -->
                                    <button type="submit" class="red-button favorite-button">Remove</button>
                                }
                            }

                            @if (User.IsInRole("Administrator"))
                            {
                                using (Html.BeginForm("Edit", "HistoricalCulturalObjects", new { id = Model.historicalCulturalObject.id }, FormMethod.Get, new { @class = "form-inline" }))
                                {
                                    <button type="submit" class="yellow-button">Edit</button>
                                }


                                <button data-place="@Model.historicalCulturalObject.id" type="submit" class="red-button js_delete">Delete</button>
                            }
                        </div>
                    </td>
                 }
            </tr>
        </tbody>
    </table>
</body>
