﻿@model CulturallyHistoricalObjectsWebApp.Models.FilterDTO

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="../../Content/style/style.css">

    <style>
    </style>
    <script src="~/Scripts/GeoLocation.js"></script>
    <script>
        $(document).ready(function () {
            $('#findAllBtn').click(function () {
                $('form').attr('action', "/HistoricalCulturalObjects/FindAll")
            });

            $('#findClosestBtn').click(function () {
                $('#loader').show();
                $('form').attr('action', "/HistoricalCulturalObjects/FindClosest")

                geoLocation();

                return false; // Prevent the default form submission
            });
        });
    </script>
</head>
<body>
    <header class="header-style">
        <p style="font-size: 18px">
            CulturaLocator is a web application that will help you find Culturally Historical Objects in N. Macedonia 
        </p>
    </header>
    <div class="loader" id="loader"></div>
    <div>
        <div>
            @using (Html.BeginForm("FindAll", "HistoricalCulturalObjects", FormMethod.Post, new { @class = "form-style" }))
            {

                @Html.LabelFor(model => model.name, "Name:", new { @class = "label-style" })
                @Html.TextBoxFor(model => model.name, new { @class = "input-text-style" })
                @Html.Label("Select category", new { @class = "label-style" })
                @Html.DropDownListFor(model => model.type_id, new SelectList(Model.types, "id", "type"), "Select category", new { @class = "select-style" })

                @Html.Label("Select region", new { @class = "label-style" })
                @Html.DropDownListFor(model => model.region_id, new SelectList(Model.regions, "id", "name"), "Select category", new { @class = "select-style" })


                @Html.HiddenFor(model => model.userLatitude, new { @id = "userLatitude" })
                @Html.HiddenFor(model => model.userLongitude, new { @id = "userLongitude" })

                <br />
                <button type="submit" id="findAllBtn">Find All</button>
                <button type="submit" id="findClosestBtn">Find Closest</button>
            }
        </div>
    </div>
</body>